<% provide(:title, "Log in") %>
<h1>Log In</h1>

<div>
    <div>
      <form action="/sessions/login" method="POST">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        <button type="submit">Submit</button>
      </form>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>