<div id="<%= dom_id workout_template %>">
    <h1>Workout template</h1>
    <p>
        <strong>Workout name:</strong>
        <%= workout_template.name %>
    </p>
    <p>
        <strong>Day of the week:</strong>
        <%= workout_template.day_of_week %>
    </p>
    <p>
        <strong>Public:</strong>
        <%= workout_template.public %>
    </p>
</div>
